
# Playwright
node_modules/
/test-results/
/test-reports/playwright-report/
/playwright-report/
test-reports/playwright-report/index.html
/blob-report/
/playwright/.cache/
/playwright/.auth/
allure-results/

#git update-index --skip-worktree playwright.config.ts //to skip file from git track and git commit
#git update-index --no-skip-worktree playwright.config.ts //Git to track changes again